In [3]:
import igraph as ig
import pandas as pd

## Строим граф

In [2]:
graph=ig.Graph.Load('graph.txt')

In [4]:
graph.to_undirected()

## Рассчитываем центральности (по близости, посредничеству и собственному значению)

In [6]:
graph_closeness=graph.closeness()

In [7]:
graph_betweenness=graph.betweenness()

In [8]:
graph_eigenvector=graph.eigenvector_centrality()

## Добавляем центральности каждому человеку в списке

In [9]:
people=pd.read_csv('people.csv')
people=people.drop(columns=['Unnamed: 0'], axis=1)
people['closeness']=graph_closeness
people['betweenness']=graph_betweenness
people['eigenvector']=graph_eigenvector

## Центральность по близости

In [11]:
people[people['level']==0].sort_values(by='closeness', ascending=False)[['ФИО', 'closeness']]

                   ФИО  closeness
2      Васильев Даниил   0.308360
8        Уваров Андрей   0.303303
0  Алексеева Екатерина   0.286414
3       Воронов Кирилл   0.277571
7    Пивницкий Даниэль   0.270062
4    Гребенков Дмитрий   0.251088
9       Шубин Григорий   0.249791
1       Бирюков Виктор   0.247950
6       Новиков Никита   0.229791
5        Ляшун Дмитрий   0.228674

## Центральность по посредничеству

In [12]:
people[people['level']==0].sort_values(by='betweenness', ascending=False)[['ФИО', 'betweenness']]

                   ФИО   betweenness
2      Васильев Даниил  3.763212e+08
8        Уваров Андрей  2.582943e+08
0  Алексеева Екатерина  2.216337e+08
3       Воронов Кирилл  1.895729e+08
1       Бирюков Виктор  7.206973e+07
7    Пивницкий Даниэль  6.474338e+07
6       Новиков Никита  3.442443e+07
4    Гребенков Дмитрий  3.184934e+07
9       Шубин Григорий  1.344226e+05
5        Ляшун Дмитрий  1.140182e+05

## Центральность по собственному значению

In [13]:
people[people['level']==0].sort_values(by='eigenvector', ascending=False)[['ФИО', 'eigenvector']]

                   ФИО  eigenvector
0  Алексеева Екатерина     0.289727
6       Новиков Никита     0.010519
2      Васильев Даниил     0.010033
8        Уваров Андрей     0.007296
7    Пивницкий Даниэль     0.003470
3       Воронов Кирилл     0.001574
9       Шубин Григорий     0.001485
1       Бирюков Виктор     0.000559
4    Гребенков Дмитрий     0.000554
5        Ляшун Дмитрий     0.000121